body {
  color: #fff;
  @extend %monts-400;
  font-size: 14px;
  line-height: 28px;
}
section {
  background-color: red;
  height: 50vh;
}
.menu {
  position: fixed;
  margin: 0 auto;
  left: 0;
  top: 80px;
  right: 0;
  max-width: 1800px;
  width: 100%;
  padding: 0 20px;
  z-index: 4;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__link {
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
    border: 1px solid #fff;
    @extend %monts-700;
    font-size: 12px;
    padding: 11px 30px;
    letter-spacing: 3.6px;
    transition: all 0.3s;
    &:hover {
      border-color: $accent;
      box-shadow: 0px 0px 5px 1px rgba(0, 255, 120, 1) inset;
    }
  }
  &__btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 10px;
  }
}
