@media (max-width: 1400px) {
  .header {
    &__top-wrapper {
      top: 40px;
    }
    &__contact-btn {
      right: -67px;
      padding: 5px 20px;
      font-size: 14px;
    }
  }
  .stories {
    &__item {
      margin-left: 25px;
      margin-right: 50px;
    }
  }
  .team {
    &__item {
      margin-right: 25px;
    }
  }
}

@media (max-width: 1180px) {
  .price {
    &__inner {
      flex-wrap: wrap;
      justify-content: center;
    }
    &__item {
      margin: 0 35px 75px;
      &.recomend {
        order: 1;
      }
    }
  }
  .progress {
    &__inner {
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 0;
    }
    &__item-link {
      max-width: 40%;
      margin: 0 30px 80px;
    }
  }
  .stories {
    &__inner {
      flex-direction: column;
      align-items: flex-start;
      justify-content: start;
    }
    &__item {
      order: 1;
    }
    &__content {
      margin-bottom: 50px;
      align-self: flex-end;
    }
    &__swiper {
      width: 400px;
      max-width: 100%;
    }
    &__image-box {
      img {
        height: 450px;
      }
    }
    &__button {
      bottom: auto;
      top: 60px;
    }
  }
}
@media (max-width: 1100px) {
  .sections {
    &__item:nth-child(even) {
      .sections__item-box {
        max-width: 100%;
      }
      .sections__number {
        margin-left: 0;
      }
      .sections__item-title {
        max-width: 100%;
        margin-left: 0;
      }
    }
    &__img-box {
      display: none;
    }
    &__item-title {
      max-width: 100%;
      width: 100%;
    }
    &__item-box {
      max-width: 810px;
    }
    &__number {
      width: 100%;
    }
  }
  .team {
    &__inner {
      flex-direction: column;
      align-items: start;
    }
    &__item {
      align-self: flex-end;
    }
    &__button {
      bottom: auto;
      top: 60px;
    }
    &__text {
      margin-bottom: 35px;
    }
    &__swiper {
      width: 400px;
      max-width: 100%;
    }
    &__image-box {
      img {
        height: 450px;
      }
    }
  }
}

@media (max-width: 1000px) {
  .about {
    &__inner {
      flex-wrap: wrap;
      justify-content: center;
    }
    &__item-box {
      margin-bottom: 50px;
    }
  }
  .gallery {
    &__item-img {
      width: 33.3333%;
    }
  }
  .price {
    &__item {
      margin: 0 15px 75px;
      &.recomend {
        order: 0;
      }
    }
  }
}

@media (max-width: 900px) {
  .title {
    font-size: 36px;
    line-height: 46px;
  }
  .header {
    &__top-wrapper {
      top: 40px;
    }
    &__contact-btn {
      right: -67px;
      padding: 5px 20px;
      font-size: 14px;
    }
    &__title {
      font-size: 65px;
      line-height: 80px;
    }
    &__title span {
      text-align: center;
    }
    &__content-bottom {
      flex-wrap: wrap;
      justify-content: flex-start;
    }
    &__text-swiper {
      max-width: 100%;
      order: -1;
    }
    &__text {
      max-width: 370px;
    }
  }
  .sections {
    &__number {
      font-size: 160px;
      line-height: 70px;
    }
    &__item-title {
      font-size: 50px;
      line-height: 76px;
    }
  }
}

@media (max-width: 840px) {
  .price {
    &__item {
      margin: 0 25px 75px;
    }
  }
}

@media (max-width: 780px) {
  .header {
    &__title {
      font-size: 42px;
      line-height: 54px;
    }
  }
  .sections {
    padding-top: 75px;
    padding-bottom: 30px;
    &::before {
      height: 135px;
    }
    &__wrapper {
      padding-top: 75px;
    }
  }
  .about {
    padding-top: 120px;
    padding-bottom: 90px;
    &__item-box {
      margin-bottom: 50px;
      img {
        height: 350px;
      }
    }
    &__item {
      margin-left: 0;
    }
  }
  .gallery {
    padding-top: 90px;
    padding-bottom: 100px;
    &__item-img {
      width: 50%;
    }
  }
  .price {
    padding-top: 90px;
    padding-bottom: 75px;
    &::after,
    &::before {
      height: 135px;
    }
  }
  .progress {
    padding-top: 90px;
    padding-bottom: 100px;
    &::after {
      height: 135px;
    }
  }
  .team {
    padding: 80px 0;
  }
}

@media (max-width: 700px) {
  .menu {
    &__btn {
      margin-right: 0;
    }
  }
  .header {
    &__title {
      font-size: 42px;
      line-height: 54px;
    }
    &__contact-btn {
      right: -53px;
      padding: 0px 10px;
      font-size: 12px;
    }
    &__play-btn {
      svg {
        width: 50px;
      }
    }
    &__button-prev,
    &__button-next {
      margin-top: 5px;
      svg {
        height: 25px;
      }
    }
    &__button-next {
      margin-left: 20px;
    }
    .swiper-pagination-bullet-active {
      font-size: 22px;
    }
  }
  .progress {
    background-position: left center;
    &__item-link {
      max-width: 400px;
      margin: 0 0 80px;
    }
  }
  .team {
    &__content-swiper {
      margin-bottom: 40px;
    }
  }
}

@media (max-width: 650px) {
  .sections {
    &__item-text {
      max-width: 100%;
    }
    &__item-title {
      font-size: 32px;
      line-height: 48px;
    }
    &__number {
      margin-bottom: 75px;
    }
  }
  .link-to-top {
    bottom: 40px;
    &__btn {
      width: 40px;
      height: 40px;
    }
  }
  .about {
    &__modal-content {
      padding: 50px 35px 50px;
    }
    &__modal-text {
      font-size: 14px;
    }
    &__modal-link {
      min-width: 225px;
    }
  }
  .stories {
    &__content {
      width: 100%;
    }
    &__title {
      &::after {
        width: 190px;
        height: 154px;
        background-size: cover;
        top: -100px;
        right: 0;
      }
    }
  }
  .team {
    &__content {
      max-width: 100%;
      margin-right: 0;
    }
  }
}

@media (max-width: 560px) {
  .header {
    &__top-link {
      display: none;
    }
    &__swiper-item {
      background-position: -190px center;
    }
  }
  .menu {
    &__box {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }
  .contact {
    &__box {
      padding-right: 35px;
      padding-left: 20px;
    }
    &__logo {
      width: 190px;
    }
  }
  .gallery {
    &__item-box {
      width: 75%;
      height: 75%;
    }
    &__item-img {
      width: 50%;
      img {
        height: 175px;
      }
    }
  }
  .stories {
    &__inner {
      align-items: center;
    }
    &__name {
      font-size: 24px;
    }
    &__swiper {
      width: 275px;
      max-width: 100%;
    }
    &__image-box {
      img {
        height: 350px;
      }
    }
    &__item {
      margin: 0;
    }
    &__image-box {
      box-shadow: -10px -10px 0px 0px #00ff78;
    }
    &__button {
      width: 35px;
      height: 35px;
    }
    &__button-next {
      right: -35px;
    }
  }
  .team {
    &__inner {
      align-items: center;
    }
    &__name {
      font-size: 24px;
    }
    &__swiper {
      width: 275px;
      max-width: 100%;
    }
    &__image-box {
      img {
        height: 350px;
      }
    }
    &__item {
      margin: 0;
      align-self: auto;
    }
    &__image-box {
      box-shadow: 10px -10px 0px 0px #00ff78;
    }
    &__button {
      width: 35px;
      height: 35px;
    }
    &__button-prev {
      left: -35px;
    }
  }
}

@media (max-width: 460px) {
  .title {
    font-size: 28px;
    line-height: 36px;
  }
  .header {
    &__title {
      font-size: 30px;
      line-height: 38px;
      padding: 0;
    }
    &__content {
      padding-bottom: 30px;
    }
    &__content-bottom {
      justify-content: space-between;
    }
    &__slider-controll {
      width: auto;
    }
    &__text {
      font-size: 14px;
      line-height: 20px;
    }
  }
  .sections {
    &__item-title {
      font-size: 22px;
      line-height: 36px;
    }
    &__number {
      font-size: 140px;
      line-height: 40px;
      margin-bottom: 75px;
    }
  }
  .about {
    &__item-box {
      img {
        height: auto;
      }
    }
  }
  .price {
    &__item {
      margin: 0 0 75px;
      &.recomend::before {
        font-size: 12px;
        left: -60px;
      }
    }
    &__item-link {
      min-width: 225px;
    }
  }
  .stories {
    &__button {
      width: 35px;
      height: 35px;
      top:0px;
      &-prev {
        right: 35px;
      }
      &-next {
        right: 0;
      }
    }
  }
  .team {
    &__button {
      width: 35px;
      height: 35px;
      top: 0px;
      &-prev {
        left: 0;
      }
      &-next {
        left: 35px;
      }
    }
  }
}

@media (max-width: 380px) {
  .contact {
    &__hours-days {
      width: 170px;
    }
    &__address {
      max-width: 250px;
      margin-bottom: 5px;
    }
  }
}
