$accent: #00ff78;

%monts-800 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

%monts-700 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

%monts-400 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

%monts-300 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

%plateia-700 {
  font-family: "Plateia", sans-serif;
  font-weight: 700;
}

