@import "vars";
@import "font";
@import "reset";
@import "libs";
@import "global";

.header {
  margin: 0 auto;
  &__top-wrapper {
    position: fixed;
    left: 0;
    top: 80px;
    right: 0;
    z-index: 4;
    transition: all 0.3s;
    &.active {
      background-color: #1a1a1a;
      top: 0;
     padding: 25px 0;
    }
  }
  &__top {
    max-width: 1800px;
    width: 100%;
    padding: 0 20px; margin: 0 auto;
    z-index: 4;
  }
  &__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__top-link {
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
    border: 1px solid #fff;
    @extend %monts-700;
    font-size: 12px;
    padding: 11px 30px;
    letter-spacing: 3.6px;
    transition: all 0.3s;
    &:hover {
      border-color: $accent;
      box-shadow: 0px 0px 5px 1px rgba(0, 255, 120, 1) inset;
    }
  }
  &__contact-btn {
    position: fixed;
    right: -75px;
    top: 35%;
    z-index: 4;
    font-size: 16px;
    text-transform: uppercase;
    @extend %plateia-700;
    background-color: $accent;
    padding: 12px 25px;
    transform: rotate(-90deg);
    border: none;
    cursor: pointer;
  }
  &__title-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40%;
    right: 0;
    left: 0;
    z-index: 3;
  }
  &__title {
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    font-size: 90px;
    line-height: 110px;
    @extend %plateia-700;
    span {
      display: block;
      text-align: right;
      border-radius: 50%;
      color: transparent;
      -webkit-text-stroke: 2px $accent;
    }
  }
  &__swiper {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      background-image: url("../images/bg-header.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      right: 0;
      left: 0;
      top: 0;
      bottom: 0;
      z-index: 2;
    }
  }
  &__swiper-item {
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    height: 100vh;
    width: 100vw;
  }
  &__text-swiper {
    margin-left: 0;
    margin-right: 0;
    max-width: 370px;
  }
  &__text-box {
    width: 100%;
  }
  &__text {
    padding-left: 18px;
    border-left: 1px solid #fff;
  }
  &__content {
    position: absolute;
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    left: 0;
    bottom: 80px;
    right: 0;
    z-index: 3;
  }
  .swiper-pagination-bullet {
    @extend %monts-400;
    line-height: 20px;
    font-size: 16px;
    color: #999999;
    display: inline;
    padding: 0 5px;
    background: none;
    transition: all 0.3s;
    & + .swiper-pagination-bullet {
      margin-left: 10px;
    }
  }
  .swiper-pagination-bullet-active {
    color: $accent;
    background: none;
    font-size: 28px;
  }
  &__button-prev,
  &__button-next {
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 19px;
    height: 38px;
  }
  &__button-prev {
    margin-right: 30px;
  }
  &__button-next {
    margin-left: 30px;
  }
  .swiper-button-disabled {
    svg {
      opacity: 0.4;
    }
  }
  &__play-btn {
    display: block;
    svg {
      circle {
        transition: all 0.3s;
        stroke: #fff;
      }
      path {
        transition: all 0.3s;
        fill: #fff;
      }
    }
    &:hover {
      svg {
        circle {
          stroke: $accent;
        }
        path {
          fill: $accent;
        }
      }
    }
  }
  &__slider-controll {
    max-width: 370px;
    width: 100%;
    display: flex;
    align-items: center;
  }
}

.sections {
  position: relative;
  padding-top: 115px;
  padding-bottom: 75px;
  background-image: url(../images/services-bg.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
  &::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 50%;
    width: 1px;
    height: 195px;
    background-color: $accent;
  }
  &__wrapper {
    background-image: url(../images/fitness-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    margin: 0 auto;
    max-width: 1800px;
    padding-top: 145px;
  }
  &__top {
    max-width: 570px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 70px;
  }
  &__title {
    font-size: 40px;
    line-height: 54px;
    @extend %plateia-700;
    margin-bottom: 25px;
    padding: 0 15px;
    text-transform: uppercase;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 85px;
    &:first-child {
      .sections__number {
        padding-right: 40px;
      }
    }
    &:nth-child(even) {
      flex-direction: row-reverse;
      text-align: right;
      .sections__number {
        width: auto;
        text-align-last: left;
        margin-left: -80px;
      }
      .sections__item-title {
        width: 845px;
        margin-left: -160px;
      }
      .sections__item-text {
        margin-left: auto;
      }
      .sections__img-box::after {
        right: -90px;
        left: auto;
      }
    }
  }
  &__item-box {
    max-width: 685px;
    z-index: 2;
  }
  &__img-box {
    height: 640px;
    width: 470px;
    position: relative;
    z-index: 0;
    img {
      object-fit: cover;
      height: 640px;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: -1px;
      left: -1px;
      background-image: url(../images/bg-photo.png);
    }
    &::after {
      content: "";
      width: 180px;
      height: 1px;
      background-color: $accent;
      position: absolute;
      left: -90px;
      bottom: 160px;
    }
  }
  &__number {
    display: block;
    font-size: 200px;
    line-height: 110px;
    color: transparent;
    -webkit-text-stroke: 2px $accent;
    @extend %plateia-700;
    width: 770px;
    text-align: right;
    margin-bottom: 50px;
  }
  &__item-title {
    font-size: 70px;
    line-height: 92px;
    @extend %plateia-700;
    width: 810px;
    margin-bottom: 15px;
  }
  &__item-text {
    max-width: 570px;
    margin-bottom: 25px;
  }
  &__item-link {
    display: inline-block;
    min-width: 250px;
  }
}

.about {
  background-image: url(../images/about-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #000;
  padding-top: 190px;
  padding-bottom: 165px;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__item-box {
    box-shadow: -30px -30px 0px 0px $accent;
  }
  &__item {
    max-width: 600px;
  }
  &__title {
    margin-bottom: 20px;
  }
  &__text {
    margin-bottom: 30px;
  }
  &__modal-content {
    background-color: #181818;
    max-width: 730px;
    padding: 70px 80px 80px;
  }
  &__modal-title {
    font-size: 28px;
    line-height: 40px;
    @extend %plateia-700;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
  }
  &__modal-img {
    max-width: 570px;
    margin-bottom: 35px;
    img {
      height: 325px;
      object-fit: cover;
    }
  }
  &__modal-text {
    font-size: 16px;
    line-height: 24px;
    @extend %monts-300;
    margin-bottom: 25px;
  }
  &__modal-box {
    text-align: center;
  }
  &__modal-link {
    margin-top: 10px;
  }
}

.gallery {
  padding-top: 150px;
  padding-bottom: 160px;
  background-image: url(../images/gallery-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(../images/gallery-bg-shadow.png);
    background-size: cover;
  }
  &__title {
    text-align: center;
    margin-bottom: 65px;
    position: relative;
  }
  &__inner {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 80px;
  }
  &__item-img {
    width: 25%;
    position: relative;
    img {
      height: 290px;
      object-fit: cover;
    }
    &::after,
    &::before {
      content: "";
      position: absolute;
      background-color: #fff;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: all 0.3s;
      z-index: 1;
    }
    &::after {
      width: 1px;
      height: 30px;
    }
    &::before {
      width: 30px;
      height: 1px;
    }
    &:hover {
      .gallery__item-box {
        opacity: 1;
      }
      &::after,
      &::before {
        opacity: 1;
      }
    }
  }
  &__item-box {
    position: absolute;
    width: 235px;
    height: 235px;
    background-color: rgba($accent, 0.6);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s;
    opacity: 0;
    z-index: 0;
  }
  &__box-btn {
    text-align: center;
  }
  &__link {
    position: relative;
  }
}

.price {
  background-image: url(../images/price-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  padding-top: 150px;
  padding-bottom: 160px;
  position: relative;
  &::after,
  &::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 180px;
    background-color: $accent;
    z-index: -1;
  }
  &::after {
    bottom: 0;
    right: 25%;
    transform: translateY(50%);
  }
  &::before {
    top: 0;
    left: 25%;
    transform: translateY(-50%);
  }
  &__title {
    color: #000;
    text-align: center;
    margin-bottom: 65px;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    max-width: 370px;
    width: 100%;
    background-color: #1a1a1a;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &.recomend {
      border: 2px solid $accent;
      background-image: url(../images/price-item.png);
      position: relative;
      &::before {
        content: "recommended";
        position: absolute;
        font-size: 16px;
        text-transform: uppercase;
        @extend %plateia-700;
        color: $accent;
        left: -70px;
        top: 0;
        transform: rotate(-90deg) translateX(-50%);
      }
    }
  }
  &__item-top {
    text-align: center;
    @extend %monts-700;
    margin-bottom: 15px;
  }
  &__item-title {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 7.2px;
    margin-bottom: 10px;
  }
  .price__list {
    flex-grow: 1;
    margin-bottom: 15px;
  }
  &__item-subtitle {
    font-size: 14px;
    letter-spacing: 2.8px;
    color: $accent;
    text-transform: uppercase;
  }
  &__list-item {
    font-size: 16px;
    line-height: 30px;
    @extend %monts-300;
    padding-left: 20px;
    position: relative;
    margin-bottom: 10px;
    &::before {
      content: "";
      position: absolute;
      width: 16px;
      height: 11px;
      background-image: url(../images/check.svg);
      left: -5px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &__value {
    font-size: 24px;
    @extend %monts-700;
    text-align: center;
    margin-bottom: 10px;
  }
  &__item-link {
    transform: translateY(50%);
    min-width: 260px;
  }
}

.progress {
  background-image: url(../images/progress-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: 130px;
  padding-bottom: 160px;
  position: relative;
  z-index: 0;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: cover;
    background-image: url(../images/progress-bg-shadow.png);
    z-index: -1;
  }
  &::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 180px;
    background-color: $accent;
    bottom: 0;
    right: 50%;
    transform: translateY(50%);
  }
  &__title {
    margin-bottom: 90px;
    text-align: center;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    counter-reset: counter;
    margin-bottom: 85px;
  }
  &__item-box {
    height: 64px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__item-link {
    padding: 75px 25px;
    max-width: 270px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(#000, 0.5);
    border: 2px solid #666666;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s;
    text-align: center;
    position: relative;
    &::before {
      content: "0" counter(counter);
      counter-increment: counter;
      position: absolute;
      -webkit-text-stroke: 1px rgba(#fff, 0.4);
      color: transparent;
      line-height: 36px;
      font-size: 80px;
      @extend %plateia-700;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);
      transition: all 0.3s;
    }
    &::after {
      content: "";
      position: absolute;
      background-image: url(../images/progress-shadow.png);
      background-size: cover;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      opacity: 0;
      transition: all 0.3s;
    }
    &:hover {
      background-color: rgba(#000, 0.8);
      border-color: $accent;
      &::before {
        -webkit-text-stroke: 1px $accent;
        top: -75px;
      }
      &::after {
        opacity: 1;
      }
    }
  }
  &__item-title {
    font-size: 20px;
    @extend %monts-700;
    margin-bottom: 20px;
  }
  &__item-text {
    font-size: 14px;
    line-height: 20px;
  }
  &__box-link {
    text-align: center;
  }
  &__link {
    text-align: center;
  }
}

.stories {
  background-image: url(../images/comments-bg.jpg);
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  padding-top: 200px;
  padding-bottom: 160px;
  color: #000;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__image-box {
    max-width: 570px;
    width: 100%;
    box-shadow: -30px -30px 0px 0px #00ff78;
    img {
      height: 630px;
      object-fit: cover;
    }
  }
  &__item {
    position: relative;
    z-index: 1;
  }
  &__button {
    position: absolute;
    border: none;
    bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: $accent;
    z-index: 2;
    cursor: pointer;
    &.swiper-button-disabled {
      background-color: #00e56c;
    }
  }
  &__button-prev {
    right: 0;
    border-right: 1px solid #09e585;
  }
  &__button-next {
    right: -60px;
  }
  &__content {
    max-width: 500px;
    padding-left: 30px;
  }
  &__title {
    margin-bottom: 60px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: -130px;
      right: 0;
      background-image: url(../images/icons/quote.svg);
      width: 290px;
      height: 235px;
    }
  }
  &__name {
    font-size: 28px;
    line-height: 36px;
    @extend %monts-700;
    margin-bottom: 10px;
    letter-spacing: 5.6px;
    text-transform: uppercase;
  }
  &__professional {
    font-size: 18px;
    line-height: 20px;
    font-style: italic;
    margin-bottom: 35px;
  }
  &__text {
    max-width: 370px;
  }
  &__swiper {
    width: 570px;
  }
}

.team {
  background-image: url(../images/team-bg.jpg);
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  padding-top: 200px;
  padding-bottom: 160px;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__image-box {
    max-width: 570px;
    width: 100%;
    box-shadow: 30px -30px 0px 0px #00ff78;
    img {
      height: 630px;
      object-fit: cover;
    }
  }
  &__item {
    position: relative;
    z-index: 1;
  }
  &__button {
    position: absolute;
    border: none;
    bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: $accent;
    z-index: 2;
    cursor: pointer;
    &.swiper-button-disabled {
      background-color: #00e56c;
    }
  }
  &__button-prev {
    left: -60px;
    border-right: 1px solid #09e585;
  }
  &__button-next {
    left: 0;
  }
  &__content {
    max-width: 370px;
    margin-right: 30px;
  }
  &__title {
    margin-bottom: 60px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: -130px;
      right: 0;
      background-image: url(../images/icons/quote.svg);
      width: 290px;
      height: 235px;
    }
  }
  &__name {
    font-size: 28px;
    line-height: 36px;
    @extend %monts-700;
    margin-bottom: 10px;
    letter-spacing: 5.6px;
    text-transform: uppercase;
  }
  &__professional {
    font-size: 18px;
    line-height: 20px;
    font-style: italic;
    margin-bottom: 30px;
    color: $accent;
  }
  &__text {
    max-width: 370px;
    margin-bottom: 70px;
  }
  &__swiper {
    width: 570px;
  }
  .contact__social {
    border: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .contact__social-link + .contact__social-link {
    margin-left: 30px;
  }
}

.blog {
  padding-top: 150px;
  padding-bottom: 160px;
  background-image: url(../images/blog-bg.jpg);
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  color: #000;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 180px;
    background-color: $accent;
    bottom: 0;
    right: 25%;
    transform: translateY(50%);
  }
  &__title {
    margin-bottom: 60px;
    text-align: center;
  }
  &__swiper {
    max-width: 1170px;
    overflow: hidden;
  }
  &__box-img {
    position: relative;
    max-width: 550px;
    width: 100%;
    margin-bottom: 25px;
    img {
      height: 315px;
      object-fit: cover;
    }
  }
  &__box-day {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: rgba(#0dcc93, 0.8);
    width: 80px;
    height: 80px;
    @extend %monts-300;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    line-height: 18px;
    span {
      @extend %monts-700;
      font-size: 24px;
      display: block;
      line-height: 24px;
    }
  }
  &__item-title {
    font-size: 24px;
    @extend %monts-800;
    margin-bottom: 25px;
  }
  &__item-text {
    margin-bottom: 25px;
  }
  &__item-link {
    transition: all 0.3s;
    text-decoration: none;
    color: #000;
    @extend %plateia-700;
    &:hover {
      color: $accent;
    }
  }
  &__pagination {
    margin-top: 65px;
    display: flex;
    justify-content: center;
    &.swiper-pagination-bullets .swiper-pagination-bullet {
      margin: 0 15px;
    }
    .swiper-pagination-bullet {
      width: 65px;
      height: 4px;
      background-color: #e6e6e6;
      border-radius: 0;
      transition: all 0.3s;
      &-active {
        background-color: $accent;
      }
    }
  }
}

.connect {
  background-image: url(../images/connect-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right top;
  position: relative;
  padding-top: 145px;
  padding-bottom: 155px;
  z-index: 0;
  &::before {
    content: "";
    background-image: url(../images/connect-bg-shadow.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 1;
  }
  &::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 180px;
    background-color: $accent;
    bottom: 0;
    left: 50%;
    z-index: 2;
    transform: translateY(50%);
  }
  &__wrapper {
    display: flex;
    justify-content: flex-end;
  }
  &__content {
    max-width: 600px;
    padding-left: 30px;
    position: relative;
    z-index: 2;
  }
  &__title {
    margin-bottom: 25px;
  }
  &__text {
    margin-bottom: 35px;
  }
  &__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  &__form-name,
  &__form-mail,
  &__form-phone,
  &__form-select,
  &__form-textarea {
    max-width: 275px;
    width: 100%;
    margin-bottom: 20px;
    background-color: #000;
    border: 2px solid #fff;
    opacity: 0.2;
    padding: 20px 20px 20px 30px;
    color: #fff;
    outline: none;
    &::placeholder {
      color: #fff;
    }
    &:focus {
      border-radius: 0px;
      opacity: 1;
    }
  }
  &__form-textarea {
    max-width: 100%;

    height: 235px;
  }
  &__form-btn {
    display: inline-block;
    min-width: 175px;
  }
  &__form-personal {
    margin-left: 30px;
    margin-right: auto;
    opacity: 0.5;
  }
}

.footer {
  &__top {
    background-color: #1a1a1a;
    background-image: url(../images/footer-bg.png);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: bottom right;
    padding: 160px 0 120px;
    margin-bottom: 40px;
  }
  &__top-logo {
    margin: 0 auto 75px;
  }
  &__top-inner {
    display: flex;
    justify-content: space-between;
  }
  &__top-item {
    max-width: 270px;
    width: 100%;
  }
  &__top-title {
    font-size: 20px;
    text-transform: uppercase;
    @extend %monts-700;
    padding-bottom: 30px;
    margin-bottom: 55px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100px;
      height: 5px;
      background-color: $accent;
    }
  }
  &__text {
    line-height: 24px;
    @extend %monts-300;
    margin-bottom: 50px;
  }
  .contact__social {
    border: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .contact__social-link + .contact__social-link {
    margin-left: 30px;
  }
  &__box-phone {
    margin-bottom: 30px;
  }
  &__phone-link {
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    line-height: 22px;
    @extend %monts-700;
  }
  &__address-box {
    max-width: 250px;
    margin-bottom: 30px;
  }
  &__address {
    font-size: 16px;
    line-height: 24px;
    font-style: normal;
    @extend %monts-300;
    margin-bottom: 30px;
  }
  &__map-link {
    color: #fff;
    padding-left: 20px;
    position: relative;
    transition: all 0.3s;
    span {
      position: absolute;
      left: 0;
      top: 3px;
      line-height: 0;
    }
    path {
      fill: #fff;
      transition: all 0.3s;
    }
    &:hover {
      color: $accent;
      text-decoration: opacity($color: $accent);
      path {
        fill: $accent;
      }
    }
  }
  &__mail {
    @extend %monts-300;
    text-decoration: none;
    color: #fff;
  }
  &__gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    grid-gap: 20px 15px;
  }
  &__gallery-item {
    border: 2px solid transparent;
    width: 80px;
    transition: all 0.3s;
    img {
      height: 80px;
      object-fit: cover;
    }
    &:hover {
      border: 2px solid $accent;
    }
  }
  &__form-text {
    @extend %monts-300;
    margin-bottom: 35px;
    letter-spacing: -0.8px;
  }
  &__form-box {
    display: flex;
    margin-bottom: 35px;
  }

  &__form-input {
    background-color: #4b4b4b;
    padding: 11px 20px;
    border: none;
    max-width: 220px;
    width: 100%;
    color: #fff;
  }
  &__form-btn {
    border: none;
    background-color: $accent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    img {
      width: 20px;
    }
  }
  &__bottom {
    background-color: #000;
    padding: 15px 0;
  }
  &__bottom-text {
    text-align: center;
    font-size: 16px;
    letter-spacing: 0.8px;
    span {
      margin-left: 20px;
      padding-left: 20px;
      position: relative;
      &::before {
        content: "|";
        position: absolute;
        left: 0;
        top: -5px;
      }
    }
  }
}

@import "media";
